* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(8, 8, 27);
}

header{
    background: white;
    padding: 20px;
}

header > h1{
    color: rgb(0, 0, 63);
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge{
    background: red;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label{
    position: absolute;
    top: 32px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 32px;
    right: -28px;
}

.result{
    font-size: 20px;
    color: white;    
}

.result > p{
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices{
    margin-top: 40px;
    text-align: center;
}
/*configurações de cada 'botão'*/
.choice{
    border: 3px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease; /*demora 0.3s para transitar para a cor completamente*/
}
/*inverte as cores da imagem*/
.choice img {
	filter: invert(100%);
}   
/*quando o pontero do mouse passa por cima muda de cor*/
.choice:hover{
    cursor: pointer;
    background: rgb(11, 11, 31);
}

#action-message{
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
}

.green-glow{
    border: 4px solid rgb(5, 194, 5);
    box-shadow: 0 0 10px rgb(54, 175, 54);
}

.red-glow{
    border: 4px solid rgb(245, 29, 29);
    box-shadow: 0 0 10px rgb(194, 59, 59);
}

.gray-glow{
    border: 4px solid rgb(73, 73, 73);
    box-shadow: 0 0 10px rgb(102, 95, 95));
}